<%= form_for(@road) do |f| %>
  <% if @road.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@road.errors.count, "error") %> prohibited this road from being saved:</h2>

      <ul>
      <% @road_map.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :sector %><br />
    <%= f.number_field :sector %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
