<%- model_class = Unit -%>

<div class="page-header">

  <dl class="dl-horizontal">
    <dt><strong>Сектор:</strong></dt>
    <dd><%= @unit.road.sector.title %></dd>
    <dt><strong>Курс:</strong></dt>
    <dd><%= @unit.road.title %></dd>
    <dt><strong>Юнит:</strong></dt>
    <dd><%= @unit.title %></dd>
  </dl>

  <div class="btn-group btn-group-vertical">
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_unit_path(@unit), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                unit_path(@unit),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Вы уверены?')) },
                :class => 'btn btn-danger' %>
  </div>

</div>

<div class='main-page'>
  <ul class="nav nav-tabs">
    <li><a                href="#recommended" data-toggle="tab">    Рекомендуемые   </a></li>
    <li class="active"><a href="#articles" data-toggle="tab">       Статьи          </a></li>
    <li><a                href="#videos" data-toggle="tab">         Видео           </a></li>
    <li><a                href="#books" data-toggle="tab">          Книги           </a></li>
    <li><a                href="#courses" data-toggle="tab">        Курсы           </a></li>
    <li><a                href="#shop" data-toggle="tab">           Магазин         </a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane"         id="recommended"  >...</div>
    <div class="tab-pane active"  id="articles"     ><%= render partial: 'links_tab', locals: { type: 1} %></div>
    <div class="tab-pane"         id="videos"       ><%= render partial: 'links_tab', locals: { type: 2} %></div>
    <div class="tab-pane"         id="books"        ><%= render partial: 'links_tab', locals: { type: 3} %></div>
    <div class="tab-pane"         id="courses"      ><%= render partial: 'links_tab', locals: { type: 4} %></div>
    <div class="tab-pane"         id="shop"         ><%= render partial: 'links_tab', locals: { type: 5} %></div>

      <%= link_to t('.new', :default => t("helpers.links.new")),
            new_link_path,
            :class => 'btn btn-primary' %>
  </div>



  <div class='comment-tab'>

    <div class ='comment'>
      <div>
        <div><small>Комментарий оставлен: 04/12/13</small>
          <span itemprop="datePublished" content="2013-04-12"></span>
        </div>
        <div>
          <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
          <small><strong>7</strong> из <strong>11</strong> людей сочли этот комментарий полезным.</small>
        </div>
      </div>
      <div class="trrln spcln">
        <div>
          <h5>"Классная ссылка, вся инфа в одном месте"</h5><small>by: politenessman129</small><br>
        </div>
      </div>
      <div><p>i dont have an iphone, verizon charges $30 per month minimum for data, plus charges for texting, and usage. this is my first apple product, i wanted something to occupy my time commuting, lunch, downtime, also play music. really nice, packaged well, setup is easy, works great. i got the mini because i can hold it in 1 hand, couldnt (dont think anybody can) hold the ipad standard in 1 hand. text is sometimes a little small, and i am pressing things i dont mean to. but i will prob get more accurate as i go on. bought a nice case for it (dodo classic) and plan on trying to keep it in great condition</p>
      </div>
    </div>
  </div>

</div>

  <div class="sub-footer">
    <ul class="pager">
    <li class="previous">
      <a href="#">&larr; Предыдущий юнит</a>
    </li>
    <li class="next">
      <a href="#">Следующий юнит &rarr;</a>
    </li>
  </ul>
  </div>

<script type="text/javascript">
  $(document).ready(function(){

    $('#articles a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
    })

  }
</script>